In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",999)

In [2]:
def all_values(df):
    for i in df.columns:
        print("")
        print(i,":", df[i].value_counts(),"\n")

In [59]:
cupid = pd.read_csv('okcupid/profiles.csv')

In [60]:
cupid = cupid.drop(['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9',
                    'last_online'], axis=1)

In [61]:
cupid.shape

(59946, 20)

In [62]:
cupid.columns

Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'ethnicity',
       'height', 'income', 'job', 'location', 'offspring', 'orientation',
       'pets', 'religion', 'sex', 'sign', 'smokes', 'speaks', 'status'],
      dtype='object')

In [63]:
cupid.sample()

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
30990,26,athletic,mostly vegetarian,socially,never,graduated from college/university,"hispanic / latin, white, other",67.0,-1,entertainment / media,"berkeley, california",NaN,gay,has dogs and likes cats,NaN,m,cancer and it&rsquo;s fun to think about,no,"english (fluently), portuguese (okay)",single

In [43]:
for i in cupid.columns:
    print(i,": ",len(cupid[i].unique()))

age :  54
body_type :  13
diet :  19
drinks :  7
drugs :  4
education :  33
ethnicity :  218
height :  61
income :  13
job :  22
location :  199
offspring :  16
orientation :  3
pets :  16
religion :  46
sex :  2
sign :  49
smokes :  6
speaks :  7648
status :  5

In [44]:
cupid.isna().sum()

age                0
body_type       5296
diet           24395
drinks          2985
drugs          14080
education       6628
ethnicity       5680
height             3
income             0
job             8198
location           0
offspring      35561
orientation        0
pets           19921
religion       20226
sex                0
sign           11056
smokes          5512
speaks            50
status             0
dtype: int64

In [66]:
print('smokes:',cupid.smokes.unique())
print('okcupid:',cupid.drinks.unique())
print('drugs:',cupid.drugs.unique())

smokes: ['sometimes' 'no' nan 'when drinking' 'yes' 'trying to quit']
okcupid: ['socially' 'often' 'not at all' 'rarely' nan 'very often' 'desperately']
drugs: ['never' 'sometimes' nan 'often']

In [34]:
cupid.drugs.value_counts()

never        37724
sometimes     7732
often          410
Name: drugs, dtype: int64

In [35]:
cupid.smokes.value_counts()

no                43896
sometimes          3787
when drinking      3040
yes                2231
trying to quit     1480
Name: smokes, dtype: int64

In [32]:
cupid.sex.value_counts()

m    35829
f    24117
Name: sex, dtype: int64

In [33]:
for i in cupid.columns:
    print(i,": ",len(cupid[i].unique()))

age :  54
body_type :  13
diet :  19
drinks :  7
drugs :  4
education :  33
ethnicity :  218
height :  61
income :  13
job :  22
last_online :  30123
location :  199
offspring :  16
orientation :  3
pets :  16
religion :  46
sex :  2
sign :  49
smokes :  6
speaks :  7648
status :  5

In [19]:
cupid.education.value_counts()

graduated from college/university    23959
graduated from masters program        8961
working on college/university         5712
working on masters program            1683
graduated from two-year college       1531
graduated from high school            1428
graduated from ph.d program           1272
graduated from law school             1122
working on two-year college           1074
dropped out of college/university      995
working on ph.d program                983
college/university                     801
graduated from space camp              657
dropped out of space camp              523
graduated from med school              446
working on space camp                  445
working on law school                  269
two-year college                       222
working on med school                  212
dropped out of two-year college        191
dropped out of masters program         140
masters program                        136
dropped out of ph.d program            127
dropped out of high school             102
high school                             96
working on high school                  87
space camp                              58
ph.d program                            26
law school                              19
dropped out of law school               18
dropped out of med school               12
med school                              11
Name: education, dtype: int64